:root {
    --blueDark: #001B2E;
    --blueMed: #294C60;
    --blueLig: #c1ccdf;
    --whiteOff: #fff9ef;
    --peach: #FFC49B;
    --coral: #E78358;
    --comment: #3883af;
    --datat: #af76db;
    --num: #EEE060;
    --keyw: #6368e4;
    --name:#d86767;
}  

body {
    font-family: monospace;
    margin: 0;
} 

h1 {
    color: var(--coral);
    text-align: center;
    margin: 1%;
}

h2 {
    color: var(--coral);
    text-align: left;
    margin: 1%;
}

h3 {
    color: var(--coral);
    text-align: left;
    margin: 1% 1.5%;
}

.text{
    background-color: rgba(231, 131, 88, 0.25); 
    padding: 1.5%;
    margin: 1.5%;
    word-wrap: break-word;
} 

.endNote {
    background-color: var(--blueMed);
    color: var(--whiteOff);
    position: static;
    width: 100%;
    bottom: 0;
    margin: 0;
}

.endNote p {
    margin: 0;
    text-align: center;
}

.navBar {
    overflow: hidden;
    background-color: var(--blueDark);
} 

.navBar a {
    float: left;
    color: var(--whiteOff);
    text-align: center;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 15px;
} 

.navBar a:hover {
    background-color: var(--blueLig);
    color: var(--blueDark);
    transition: 0.5s;
}

.flex{
    display: flex;
    flex-direction: row;
}

.code{
    border-radius: 2%;
    background-color: var(--blueDark);
    margin: 2% 2%;
    color: var(--blueLig);
    box-shadow: 2% 2% var(--blueMed);
    word-wrap: break-word;
    margin: 3% 3%;
    padding: 1% 1%;
}

.comment{
    background-color: var(--blueDark);
    color: var(--comment);
}

.keyw{
    background-color: var(--blueDark);
    color: var(--keyw);
}

.datat{
    background-color: var(--blueDark);
    color: var(--datat);
}

.name{
    background-color: var(--blueDark);
    color: var(--name);
}

.value{
    background-color: var(--blueDark);
    color: var(--value);
}

.thirds{
    padding: 0% 2%;
    word-wrap: break-word;
}  
