:root {
    --blueDark: #001B2E;
    --blueMed: #294C60;
    --blueLig: #c1ccdf;
    --whiteOff: #fff9ef;
    --peach: #FFC49B;
    --peachBG: rgba(231, 131, 88, 0.25); 
    --red: #d86767;
    --coral: #E78358;
    --comment: #3883af;
    --datat: #af76db;
    --num: #EEE060;
    --keyw: #6368e4;
}  

body {
    font-family: monospace;
    margin: 0;
} 

h1 {
    color: var(--coral);
    text-align: center;
    margin: 1%;
}

h2 {
    color: var(--coral);
    text-align: left;
    margin: 1.5% 1% 0.5%;
}

h3 {
    color: var(--coral);
    text-align: left;
    margin: 1% 1.5%;
}

table {
    background-color: var(--whiteOff);
    border-collapse: collapse;
    color: var(--red);
    width: 100%;

}

td, th{
    text-align: center;
    border: solid 1px var(--red);
    padding: 0.5%
}

.text{
    background-color: var(--peachBG); 
    padding: 1.5%;
    margin: 1.5%;
    word-wrap: break-word;
    line-height: 18px;
    border-radius: 1.5%
} 

.endNote {
    background-color: var(--blueMed);
    color: var(--whiteOff);
    position: static;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 2%;
}

.endNote p {
    margin: 0;
    text-align: center;
}

.navBar {
    overflow: hidden;
    background-color: var(--blueDark);
} 

.dropdown {
    float: left;
    overflow: hidden;
}

.navBar a, .navBar .dropdown a, .navBar .dropdown .dropdown-content a {
    background-color: var(--blueDark);
    float: left;
    color: var(--whiteOff);
    text-align: center;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 15px;
    margin: 0;
} 

.navBar .dropdown .dropdown-content a{
    float: right;
}

a:hover{
    background-color: var(--blueLig);
    color: var(--blueDark);
    transition: 0.5s;
}

.dropdown:hover a, .navBar .dropdown .dropdown-content a:hover{
    background-color: var(--blueLig);
    color: var(--blueDark);
    transition: 0.5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 41px;
    background-color: var(--blueDark);
    z-index: 1;
    max-width: 175px;
}

.dropdown-content a{
    background-color: var(--blueDark);
    float: none;
    color: var(--whiteOff);
    text-align: center;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 15px;
    width: 75%;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.5s;
}

.flex{
    display: flex;
    flex-direction: row;
}

.code{
    border-radius: 5px;
    background-color: var(--blueDark);
    color: var(--blueLig);
    box-shadow: 2% 2% var(--blueMed);
    word-wrap: break-word;
    margin: 3% 3%;
    padding: 2%;
}

.comment{
    background-color: var(--blueDark);
    color: var(--comment);
}

.keyw{
    background-color: var(--blueDark);
    color: var(--keyw);
}

.datat{
    background-color: var(--blueDark);
    color: var(--datat);
}

.red{
    background-color: var(--blueDark);
    color: var(--red);
}

.value{
    background-color: var(--blueDark);
    color: var(--value);
}

.thirds{
    padding: 0% 2%;
    word-wrap: break-word;
}  
